{% extends "layout.html" %}

{% block title %}
    Calendar
{% endblock %}

{% block main %}
    <div id='calendar'></div>
    <form action="/" method="post">
        <h3>Initiate an activity!</h3>
        <div class="mb-3">
        <input autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Activity" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="start" name="start" placeholder="Start Time" type="datetime-local" required>
        </div>
        <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="end" name="end" placeholder="End Time" type="datetime-local" required>
        </div>
        <button class="btn btn-primary" type="submit">Initiate</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var activities = {{ activities | tojson }}
            var bdays = {{ bdays | tojson }};
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: bdays.concat(activities)
            });
            calendar.render();
        });
    </script>
{% endblock %}
